* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
.Collections {
    padding: 70px 0;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--semi-dominant);
    font-family: Poppins;
}

.Collections h1 {
    font-size: 3vmax;
}

.Collections hr {
    margin: 10px;
    width: 20vmax;
    height: 7px;
    border-radius: 10px;
    background-color: black;
}

.items {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    gap: 20px;
    margin-top: 50px;
}

/* Media Queries */
@media (max-width: 1280px) {
    .items {
        grid-template-columns: 21vw 21vw 21vw 21vw;
    }
}

@media (max-width: 1024px) {
    .Collections h1 {
        font-size: 2.5vmax;
    }
}

@media (max-width: 800px) {
    .items {
        grid-template-columns: 21vw 21vw 21vw 21vw;
    }
}

@media (max-width: 500px) {
    .items {
        grid-template-columns: 47vw 47vw;
    }
}