.adminHome{
    padding-top: 92px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    padding-top: 30px;
    gap: 20px;
    width: 15vw;
    max-width: 15vw;
    height: 60vh;
    background-color: var(--semi-dominanat-offset);
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: var(--semi-dominanat);
    gap: 20px;
    cursor: pointer;
}

@media(max-width:800px){
    .sidebar{
        padding: 30px;
        font-display: row;
        width: 100%;
        max-width: 80vw;
        height: 200px;
        justify-content: center;

    }
}