/* *{
    padding: 0px;
    margin: 0px;
}

.Item{
    width: 20vw;
    padding: 20px;
}
.Item img{
    max-width: 100%;
}
.Item:hover{
    transform: scale(1.025);
    transition: all 0.6s;
}
.Item:active{
    transform: scale(0.975);
    transition: all 0.2s;
}
.prices{
    display: flex;
    gap: 10px;
}
.old-price p{
    text-decoration: line-through;
}
.new-price p{
    font-weight: 600 ;
} */

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
.Item {
    width: 21vw;
    padding: 20px;
}

.Item img {
    max-width: 100%;
}

.Item:hover {
    transform: scale(1.025);
    transition: all 0.6s;
}

.Item:active {
    transform: scale(0.975);
    transition: all 0.2s;
}

.prices {
    display: flex;
    gap: 10px;
}

.old-price p {
    text-decoration: line-through;
}

.new-price p {
    font-weight: 600;
}

/* Media Queries */
@media (max-width: 1280px) {
    .Item {
        width: 21vw;
    }
    .item-card-text{
        font-size: 0.8rem;
    
    }
}

@media (max-width: 1024px) {
    .Item {
        width: 21vw;
    }
    .item-card-text{
        font-size: 0.8rem;
    
    }
}

@media (max-width: 800px) {
    .Item {
        width: 21vw;
        padding: 15px;
    }

    .prices {
        gap: 5px;
    }

    .old-price p,
    .new-price p {
        font-size: 0.7rem;
    }
    .item-card-text{
        font-size: 0.7rem;
    
    }
}

@media (max-width: 500px) {
    .Item {
        width: 46vw;
    }

    .prices {
        gap: 3px;
    }
}
