.spacer{
    height: 100px;
    background-color: var(--semi-dominanat);
}

.Footer{
    /* background: linear-gradient(var(--semi-dominanat), var(--dominant-gradient),var(--dominant) 70%); */
    background-color: var(--dominant);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--semi-dominanat);
    flex-direction: column;
    padding: 20px;
    padding-bottom: 5px;
}
.footer-logo{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}
.Footer ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}
.Footer ul li{
    cursor: pointer;
}
.Footer ul li:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.Footer ul li:active{
    transform: scale(0.9);
    transition: all 0.2s;
}
.footer-icons{
    font-size: 2rem;
    margin-bottom: 8px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.Footer hr{
    width: 99vw;
    border-color: var(--dominant-offset);
    background-color: var(--dominant-offset);
    margin: 0px 0px 10px 0px;
    height: 2px;
    border-radius: 100px;
    border: 0px;
}
small{
    font-size: x-small;
}
