.add-product{
    padding-top:100px;
    box-sizing: border-box;
    width: 80vw;
    max-width: 80vw;
    margin: 0px 30px;
    padding: 30px 50px;
    border-radius: 6px;
    background-color: var(--semi-dominanat-offset);
}

.addproduct-itemfield{
    width: 100%;
    color: rgb(110, 110, 110);
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(110, 110, 110);
    font-family: 'Poppins';
    font-size: 14px;
}
.addproduct-price{
    display: flex;
    gap: 40px;
}
.add-product-selector{
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    outline: none;
    color: rgb(110, 110, 110);
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
}
.addproduct-thumbnail-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
    cursor: pointer;
    display: inline-block;
}
.addproduct-thumbnail-img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.addproduct-thumbnail-img:active{
    transform: scale(0.9);
    transition: all 0.2s;
}
.addproduct-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: rgb(71, 162, 219);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}
.addproduct-btn:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.addproduct-btn:active{
    transform: scale(0.9);
    transition: all 0.2s;
}

@media(max-width:800px){
    .add-product{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}